
  <!-------------------------------------------Barra de navegación vertical-------------------------------------------->
  <nav class="navbar-vertical" th:fragment="Navbar">



    <!-- Opción: Inicio -->
    <div class="navbar-contenedor d-flex justify-content-center align-items-center">
      <a class="navbar-brand p-2" th:href="@{/inicio}">
        <i class="bi bi-house-door-fill navbar-icono"></i>
        <span class="badge badge-hover bg-dark">Inicio</span>
      </a>
    </div>

    <!-- Opción: Calendario -->
    <div class="navbar-contenedor d-flex justify-content-center align-items-center">
      <a class="navbar-brand p-2" th:href="@{/calendario}">
        <i class="bi bi-calendar navbar-icono"></i>
        <span class="badge badge-hover bg-dark">Calendario</span>
      </a>
    </div>

    <!-- Opción: Premios -->
    <div class="navbar-contenedor d-flex justify-content-center align-items-center">
      <a class="navbar-brand p-2" th:href="@{/premios}">
        <i class="bi bi-trophy navbar-icono"></i>
        <span class="badge badge-hover bg-dark">Premios</span>
      </a>
    </div>

    <!-- Opción: Salir -->
    <div class="navbar-contenedor d-flex justify-content-center align-items-center">
      <a class="navbar-brand p-2" th:href="@{/}">
        <i class="bi bi-power navbar-icono"></i>
        <span class="badge badge-hover bg-dark">Salir</span>
      </a>
    </div>

  </nav>