.container-main {
    background-color: white;
    height: calc(100vh - 40px);
    margin: 20px 0 20px 100px;
    width: calc(100% - 100px);
    border-radius: 2rem 0rem 0rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.contenido {
    display: flex;
    height: 100%;
}

/* Contenedor de la parte izquierda */
.seccion-izquierda {
    flex: 3;
    padding: 35px;
    overflow-y: auto;
}

.seccion-izquierda::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}

/* Título alineado a la izquierda */
.titulo-cursos {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Cards a la izquierda */


/* Cada card */
.card {
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Card imagen */
.card-imagen {
    width: 60%;
}

/* Barra derecha */
.barra-derecha {
  flex: 1;
  background-color: #e8e8e8;
  padding: 20px;
  height: auto;
}

.mini-perfil {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  background-color: #00000000;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 20px;
  gap: 20px; 
}

.perfil-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
}

.nombre {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.rol {
  margin: 0;
  font-size: 14px;
  color: gray;
  text-align: left;
}

.foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}
