<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/CSS/Componentes/Globales.css}">
</head>
<body>
    <h1>Welcome to the Thymeleaf Template</h1>
    <p>This is a simple Thymeleaf template example.</p>

    <form action="/login" method="post">
    <input type="email" name="correo" placeholder="Correo" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
</form>
</body>
</html> 